@page
@model BirdFramShop.Pages.ShowAllBirdsModel

@{
    ViewData["Title"] = "ShowAllBirds";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Store - Hãy kiếm cho mình con chim đẹp nhất</title>

    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!--
      - custom css link
    -->
    <link rel="stylesheet" href="~/css/productCart.css">

    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@300;400;500;700&family=Oswald:wght@600&display=swap"
          rel="stylesheet">
</head>
<body>
    <header class="header active" data-header>
        <div class="container">

            <h1>
                <a asp-page="HomePage" class="logo">Bird Store</a>
            </h1>

            <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
                <ion-icon name="menu-outline"></ion-icon>
            </button>

            <nav class="navbar" data-navbar>

                <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
                    <ion-icon name="close-outline"></ion-icon>
                </button>

                <a href="#" class="logo">Bird Store</a>

                <ul class="navbar-list">

                    <li>
                        <a <a asp-page="HomePage" class="navbar-link" data-nav-link>
                            <span>Trang chủ</span>

                            <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a <a asp-page="/User/Profile" class="navbar-link" data-nav-link>
                            <span>Thông tin</span>

                            <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#service" class="navbar-link" data-nav-link>
                            <span>Dịch vụ</span>

                            <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
                        </a>
                    </li>


                    <li>
                        <a href="#" class="navbar-link" data-nav-link>
                            <span>Liên hệ</span>

                            <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
                        </a>
                    </li>

                </ul>

            </nav>

            <div class="header-action">

                <div class="search">
                    <div class="icon-search"></div>
                    <div class="input-search">
                        <input type="text" placeholder="tìm kiếm" id="mysearch">

                    </div>
                    <!-- <span class="clear" onclick="document.getElementById('mysearch').value = ''"></span> -->
                </div>

                <div class="icon-cart">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1" />
                    </svg>
                    <span>0</span>
                </div>

            </div>

        </div>
    </header>
    <main>
        <article>

            <section class="hero" id="home">
            </section>


            <section class="section about" id="about">


                <div class="container_product">
                    <header>
                        <div class="title">PRODUCT LIST</div>
                    </header>

                    <div class="listProduct">
                        @foreach (var item in Model.Bird)
                        {
                            <div class="item">
                                <img src="@Html.DisplayFor(modelItem => item.Image)" alt="">
                                <h2><a asp-page="./BirdDetails" asp-route-id="@item.BirdId">@Html.DisplayFor(modelItem => item.BirdName)</a></h2>
                                <div class="price">@Html.DisplayFor(modelItem => item.Price)</div>

                                <div class="button1"><a asp-page="./Cart" asp-page-handler="addtocart" asp-route-id="@item.BirdId"><button class="addCart">Add to card</button></a></div>
                            </div>
                        }
                    </div>

                </div>
            </section>
        </article>
    </main>

    <footer class="footer">
        <div class="container">

            <ul class="footer-list">

                <li>
                    <a href="#" class="footer-link">Terms of use</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Privacy & Policy</a>
                </li>

            </ul>

            <p class="copyright">
                Copyright 2023 <a href="#" class="copyright-link">codewithtung</a>. All Rights Reserved.
            </p>

        </div>
    </footer>

    <script src="~/js/productCart.js"></script>

    <!--
      - ionicon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>
