@page
@model BirdFarmShop.Pages.Admin.BirdManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].BirdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].Estimation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].WeightofBirds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].BirdDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].BirdStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].Quantity)
            </th>
            <th>
                Owner
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bird) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BirdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estimation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightofBirds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirdDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirdStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BirdId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BirdId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BirdId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
