@page
@model BirdFarmShop.Pages.User.ViewOrderHistoryModel

@{
    ViewData["Title"] = "ViewOrderHistory";
}

<h1>ViewOrderHistory</h1>
@if (@ViewData["notification"] != null)
{
    <h1>@Model.@ViewData["notification"]</h1>
}
else
{
    

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblOrder[0].ReasonContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOrder[0].TypeOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOrder[0].OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOrder[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOrder[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOrder[0].ShipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOrder[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblOrder) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.OrderId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
}
